@CHARSET "UTF-8";

/***************************************************************************************/
/************ ESTILOS DE ELEMENTOS CON ID, TALES COMO CONTROLES, CAJAS DE TEXTO*********/
/************ PUEDEN SOBREESCRIBIR ELEMENTOS EXISTENTES EN designStyles.css SI**********/
/************ FUERA NECESARIO. CADA PÁGINA DEBERÁ TENER UN ARCHIVO contentStyles.css****/
/************ DIFERENTE QUE TENGA SUS PROPIOS ELEMENTOS CON ID ESTABLECIDOS ************/
/***************************************************************************************/	

#resumen_izq{
	width:40%;
	float:left;
}

#resumen_der{
	width:59%;
	float:right;
}

.listaTecnicos{
	list-style: disc inside;
	margin: 2px 0 2px 4px;
}