@charset "utf-8";
/* CSS Document */

@IMPORT url("reset.css");

body  {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	background: #666666;
	margin: 0; /* es recomendable ajustar a cero el margen y el relleno del elemento body para lograr la compatibilidad con la configuración predeterminada de los diversos navegadores */
	padding: 0;
	text-align: center; /* esto centra el contenedor en los navegadores IE 5*. El texto se ajusta posteriormente con el valor predeterminado de alineación a la izquierda en el selector #container */
	color: #000000;
}

input, select
{
    font-size:10px;
}


.twoColFixLtHdr #container {
	width: 1000px;  /* el uso de 20px menos que un ancho completo de 800px da cabida a los bordes del navegador y evita la aparición de una barra de desplazamiento horizontal */
	background: #FFFFFF;
	margin: 10px auto; /* los márgenes automáticos (conjuntamente con un ancho) centran la página */
	border: 1px solid #000000;
	text-align: left; /* esto anula text-align: center en el elemento body. */

} 
.twoColFixLtHdr #header {
	/*background: #DDDDDD;*/
	padding: 0 10px 0 20px;  /* este relleno coincide con la alineación izquierda de los elementos de los divs que aparecen bajo él. Si se utiliza una imagen en el #header en lugar de texto, es posible que le interese quitar el relleno. */
	height: 100px;
	background-image:url('../images/cabecera_sin_titulo.png');
} 
.twoColFixLtHdr #header h1 {
	margin: 0; /* el ajuste en cero del margen del último elemento del div de #header evita la contracción del margen (un espacio inexplicable entre divs). Si el div tiene un borde alrededor, esto no es necesario, ya que también evita la contracción del margen */
	padding: 12px 5px 0 0; /* el uso de relleno en lugar de margen le permitirá mantener el elemento alejado de los bordes del div */
	color: white;
	font: bold 30px "Sans Bold",Sans-Serif; 
	text-align: right;
}
.twoColFixLtHdr #sidebar1 {
	float: left; /* dado que este elemento es flotante, debe asignarse un ancho */
	width: 200px; /* el ancho real de este div, en navegadores que cumplen los estándares, o el modo de estándares de Internet Explorer, incluirá el relleno y el borde además del ancho */
	/* background: #EBEBEB;  el color de fondo se mostrará a lo largo de todo el contenido de la columna, pero no más allá */
	padding: 15px 10px 15px 15px;
}
.twoColFixLtHdr #mainContent {
	margin: 0 0 0 240px; /* recuerde que el relleno es el espacio situado dentro del cuadro div y que el margen es el espacio situado fuera del cuadro div */
	min-height:450px;
	padding: 0 15px 0 0;
} 

.twoColFixLtHdr #mainContent h2
{
	font-size:16px;
	padding: 9px 0;	
}

.twoColFixLtHdr #mainContent h3
{
	font-size:14px;
	padding: 8px 0;	
}

.twoColFixLtHdr #footer { 
	padding: 0 10px 0 20px; /* este relleno coincide con la alineación izquierda de los elementos de los divs que aparecen por encima de él. */
	height:80px; 
	background-image:url('../images/pie.png');
} 
.twoColFixLtHdr #footer p {
	margin: 0; /* el ajuste en cero de los márgenes del primer elemento del pie evitará que puedan contraerse los márgenes (un espacio entre divs) */
	padding: 48px 0 0 0;  /*el relleno de este elemento creará espacio, de la misma forma que lo haría el margen, sin el problema de la contracción de márgenes */
	color: white;
	font-size: 9px;
	text-align: center;
}
.fltrt { /* esta clase puede utilizarse para que un elemento flote en la parte derecha de la página. El elemento flotante debe preceder al elemento junto al que debe aparecer en la página. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* esta clase puede utilizarse para que un elemento flote en la parte izquierda de la página. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* esta clase debe colocarse en un elemento div o break y debe ser el último elemento antes del cierre de un contenedor que incluya completamente a un elemento flotante */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

.linkclass a
{
    display:block;
    padding:6px 5px;
}

/*- Menu 4--------------------------- */
	
#menu4 {
	width: 200px;
	margin: 10px;
	border-style: solid solid none solid;
	border-color: #000;
	border-size: 1px;
	border-width: 1px;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size:12px;

}
	
#menu4 li a {
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
	}	
	
#menu4 li a:link, #menu4 li a:visited {
	color: #CCC;
	display: block;
	background:  url(../images/menu4.gif);
	padding: 8px 0 0 10px;
	}
	
#menu4 li a:hover {
	color: #FFF;
	background: url(../images/menu4.gif) 0 -32px;
	padding: 8px 0 0 10px;
	}	
	
/***************************************************************************************/
/************ ESTILOS DE FIELDSET, DIVS SEPARADORES, TABLAS DE DATOS, ETC **************/
/***************************************************************************************/	

fieldset{
	padding:10px;	
	border: 1px Solid black;
	margin-top: 5px;
	margin-bottom: 5px
}

fieldset legend{
	font-weight:bold;
	font-size:11px;
}

.separadovertical{
	margin-top:15px;
	margin-bottom:15px;
}
.separadoverticalsuperior{
	margin-top:15px;
}
.separadoverticalinferior{
	margin-bottom:15px;
}
.titulo{
	text-align:center;
	border-bottom:1px solid black;
}
.subtitulo{
	border-bottom:1px solid black;
}

.gridview {
	border-collapse:collapse;
	border:none;
}
.gridview td, .gridview th{
	border:1px solid black;
	vertical-align: middle;
	padding: 4px;
}

.gridview th{
	background-color:#3F3F3F;
	background-image:url(../images/menu4style.gif);
	background-repeat:repeat-x;
	color:#CCC;
	text-align: center;
}

.gridview1 {
	border-collapse:collapse;
	text-align: right;
}
.gridview1 td, .gridview1 th{
	border:1px solid black;
	padding: 4px;
	
}

.gridview1 th{
	background-color:#3F3F3F;
	color:#CCC;
	background-image:url(../images/menu4style_vertical.gif);
	background-repeat:repeat-y;
	text-align:right;
}

.advertencia{
	color:#F00;
}
.avisoconfirmacion{
	font-size:12px;
	font-weight:600;
	color:#00C;
}
.margenderecho {
	margin-right: 12px;
}
.margenizquierdo {
	margin-left: 15px;
}
.subrayado {
	border-bottom:1px solid black;
	padding-bottom:3px;
}
.titulo1{
	font-weight:bold;
	font-size:medium;
}
.titulotabla{
	font-weight:bold;
	font-size:12px;
	padding-bottom: 5px;
	display: block;
}
.ds{
 clear:both;	
}
.letrapequena{
	font-size:x-small;	
}
.subtotalheader {
	font-weight: bold;
	color: #CCC;
	background-color: #3F3F3F;
}
.subtotalcontent {
	font-weight: bold;
}
.mensajeerror{
	font-weight: bold;
	color: red;
}
	