@CHARSET "UTF-8";

@IMPORT url("reset.css");

body{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #666;
	background-image: url("../images/fondo.png");
	background-repeat: repeat-x repeat-y;
}

h1{
	font-size: 24px;
	padding: 15px 10px;
	text-align: center;
	color: #660033;
}

fieldset{
	width:245px;
	padding: 10px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

legend {
	font-weight: bold;
}

label{
	display:block;
	float:left;
	width: 85px;
}

#container{
	border: 1px solid black;
	position: absolute;
	top:50%;
	left:50%;
	width: 680px;
	height: 350px;
	margin-left: -340px;
	margin-top: -175px;
}

#head{
	background-color: #000;
	height: 97px;
}


#body{
	background-color: white;
	height: 253px;
}

#controlessuperiores{
	margin-top: 15px;
}

#controlescentrales{
	margin: 15px 0;
}

input[type=text], input[type=password]{
	border: 1px solid black;
	width: 150px;
}

input[type=submit]{
	border: 1px solid black;
	margin-right: 6px;
}
.mensajeerror{
	padding: 10px 0 0 0;
	text-align:center;
	font-weight: bold;
	color: red;
}